@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

h3 {
    font-weight: inherit;
}

h4 {
    font-size: 50px;
}

h1 {
    font-family: "Great Vibes", cursive;
}

:root {
    --background-color: #2C3333;
    --text-color: #E7F6F2;
    --accent-darker: #395B64;
    --subheading: #7FC7D9;
}

.light-theme {
    --background-color: #FBF7F0;
    --text-color: #555555;
    --accent-darker: #FFDFDF;
    --subheading: #FF9EAA;
}

a:link {
    text-decoration: none
}

body {
    margin: 0;
    background-color: var(--background-color);
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", Serif;
    overflow-x: hidden;
}

/*body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 20px solid #31363F;
    pointer-events: none;
    z-index: 1000;
} */

.header-text {
    position: absolute;
    top: 23%;
    right: 56%;
    font-size: 50px;
    font-weight: 400;
    line-height: 2rem;
    color: var(--text-color);
    transform: translate(0, 25%);
}

.homepage {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Adding a line after the homepage div
.homepage::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
*/


.social-icon {
    color: var(--subheading);
    font-size: 1.8em;
    margin: 0 20px;
}

.social-media {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 72%;
    left: 11%;
}

.social-icon:hover {
    color: var(--accent-darker);
}

.scroll-button {
    position: absolute;
    top: 85%;
    left: 15%;
    height: 80px;
    width: 50px;
    background-color: var(--background-color);
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.chevron {
    position: absolute;
    top: 0;
    left: 0px;
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: scale3d(0.5,0.5,0.5);
    color: var(--subheading);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 1s infinite;
}

.chevron::before, .chevron::after {
    content: '';
    position: absolute;
    top: 0;
    height: 10%;
    width: 51%;
    background: var(--subheading);
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }


/* About - Mainpage */
.about {
    position: relative;
    top: 9rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.about-title {
    color: var(--subheading);
}

.about-text {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.45rem;
    line-height: 2.3rem;
    max-width: 1000px; /* Set max width where the text will wrap*/
    width: 100%; /* Make sure text takes up entire width of container*/
    word-wrap: break-word; /*Break down long words and wrap*/
    position: absolute;
    top: 6em;
}

.about-text::first-letter {
    font-family: "Great Vibes", cursive;
    color: var(--subheading);
    font-size: 4rem;
    padding-right: 1rem;
    vertical-align: middle;
    font-weight: bold;
    float: left;
    margin-top: 0.08em;
    padding-top: 0.15em;
}

.about-wrapper {
    position: relative;
    top: 0;
}

.about-link {
    display: block;
    color: var(--text-color);
    width: 11rem;
    font-family: "Lora", Serif;
    text-decoration: none;
    border: 0.17rem;
    border-style: solid;
    border-color: var(--subheading);
    letter-spacing: 0.05rem;
    text-align: center;
    position: relative;
    transition: all 2s;
}

.about-link::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--subheading);
    transition: all 2s;
}

.about-link span {
    position: relative;
    z-index: 2;
}

.about-link:hover {
    color: var(--accent-darker);
}

.about-link:hover::after {
    width: 100%;
}

.highlighted-word {
    color: var(--subheading);
    font-weight: bold;
    cursor: pointer;
}

.highlighted-word:hover {
    color: var(--accent-darker);
}

/* Projects - Mainpage */
.projects {
    position: relative;
    top: 9rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.projects-title {
    color: var(--subheading);
}

.projects-text {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.45rem;
    line-height: 2.3rem;
    max-width: 1000px; /* Set max width where the text will wrap*/
    width: 100%; /* Make sure text takes up entire width of container*/
    word-wrap: break-word; /*Break down long words and wrap*/
    position: absolute;
    top: 6em;
}

.projects-text::first-letter {
    font-family: "Great Vibes", cursive;
    color: var(--subheading);
    font-size: 4rem;
    padding-right: 1.3rem;
    vertical-align: middle;
    font-weight: bold;
    float: left;
    margin-top: 0.08em;
    padding-top: 0.15em;
}

.projects-wrapper {
    position: relative;
    top: 0;
}

.projects-link {
    display: block;
    color: var(--text-color);
    width: 13rem;
    font-family: "Lora", Serif;
    text-decoration: none;
    border: 0.17rem;
    border-style: solid;
    border-color: var(--subheading);
    letter-spacing: 0.05rem;
    text-align: center;
    position: relative;
    transition: all 2s;
}

.projects-link::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--subheading);
    transition: all 2s;
}

.projects-link span {
    position: relative;
    z-index: 2;
}

.projects-link:hover {
    color: var(--accent-darker);
}

.projects-link:hover::after {
    width: 100%;
}

/* .fixed-top {
    width: 100%;
    max-width: 1400px;
    position: fixed;
    margin: 0 auto;
    top: -50px;
    left: 10px;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    transition: top 0.5s ease-in-out;
    background-color: var(--accent-darker);
    border-radius: 25px;
} */

.skills {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.skills-title {
    color: var(--subheading);
}

.skills-text {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.45rem;
    line-height: 2.3rem;
    max-width: 1000px; /* Set max width where the text will wrap*/
    width: 100%; /* Make sure text takes up entire width of container*/
    word-wrap: break-word; /*Break down long words and wrap*/
    flex-wrap: wrap;
    position: absolute;
    top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}

.skills-text::first-letter {
    font-family: "Great Vibes", cursive;
    color: var(--subheading);
    font-size: 4rem;
    padding-right: 1rem;
    vertical-align: middle;
    font-weight: bold;
    float: left;
    margin-top: -0.2em;
    padding-top: 0.15em;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 1em;
}

.icon-box i:hover {
    color: var(--accent-darker);
}

.icon-box i {
    color: var(--subheading);
    font-size: 3em;
    cursor: pointer;
}

.icon-box p {
    color: var(--text-color);
}

 #navigation {
    width: 100vw;
    position: absolute;
    margin: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 30px;
    height: 50px;
    transition: top 0.3s ease, position 0.3s ease;
    background-color: var(--accent-darker);
    box-sizing: border-box;
}

/* Increase specificity prevents element from being overridden*/
#navigation.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw;
    left: 0;
    z-index: 1001;
}

#progress-indicator {
    width: 100%;
    height: 5px;
    background-color: #ccc;
    position: relative;
    top: 65px;
}

#indicator {
    width: 0%;
    height: 5px;
    background-color: var(--subheading);

}

#indicator.sticks {
    position: fixed;
    top: 65px;
    width: 100%;
    max-width: 100vw;
    left: 0;
    z-index: 1001;
}

#progress-indicator.stick {
    position: fixed;
    top: 65px;
    width: 100%;
    max-width: 100vw;
    left: 0;
    z-index: 1001;
}

/* Styling icons on the fixed bar on top*/
.home-icon,
.icon-link,
.dropbutton {
    font-size: 2em;
    color: var(--subheading);
    text-decoration: none;
    margin: 0 10px;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

/* Menu - Mainpage */
.dropdown,
.contact,
.home-button {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

/*Styling the menu button*/
.dropbutton {
    position: relative;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: var(--subheading);
    cursor: pointer;
    z-index: 1000;
    /*Ensure the menu button is above the fullscreen menu*/
}

.dropbutton::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--subheading);
    transform: translateY(10px);
    transition: width 1s ease-in-out;
}

.dropbutton:hover::after {
    width: 100%;
}


.home-icon {
    position: relative;
    /* Make the home-icon relatively positioned */
}

.fas.fa-house::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: var(--subheading);
    transition: width 1s ease-in-out;
}

.fas.fa-house:hover::after {
    width: 100%;
}



.dropdown-content {
    display: none;
    position: fixed;
    background-color: var(--accent-darker);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    text-align: left;
    flex-direction: column;
    overflow: auto;

}

.dropdown-content li {
    margin: 20px 0;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 10px;
    font-size: 45px;
    display: block;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 50px;
}

.dropdown-content a:hover {
    background-color: var(--subheading);
}

.dropdown-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Contact Me - Mainpage */
.contact a {
    text-decoration: none;
}

#toggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#toggleIcon {
    font-size: 2em;
    color: var(--subheading)
}

#text-container {
    color: var(--subheading);
    font-size: 25px;
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(0, 25%);
}

/* About Me Page */

.cover-photo {
    margin: 0;
}

.cover-photo img {
    width: 25em;
    height: 25em;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: relative;
    left: 50%;
}

.first-container {
    position: relative;
    top: 9rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Projects Page */
.projects-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.number-section {
    width: 30%;
    display: flex;
    justify-content: center;
    position: sticky;
    height: 100vh;
    font-size: 10em;
    padding: 2em 0;
    color: var(--subheading);
}

.description-section {
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10em 0;
    pointer-events: none;

}

.project {
    padding: 2em 0;
    height: 100vh;
    border-bottom: 1px solid #ccc

}

.date {
    color: var(--accent-darker);
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.description-text {
    max-width: 1000px; /* Set max width where the text will wrap*/
    width: 100%; /* Make sure text takes up entire width of container*/
    word-wrap: break-word; /*Break down long words and wrap*/
    color: var(--text-color);
    line-height: 2.3rem;
    font-size: 1.1em;
    overflow-x: hidden;
}

.text-title {
    color: var(--subheading);
    font-size: 3em;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

